node_modules
__pycache__
.vscode/settings.json
backend/api_gateway_py/.env
backend/api_gateway_py/.venv
frontend/build
frontend/build/index.html
backend/api-gateway-go/apigateway
ELI-PANDA.code-workspace
tools/catalogue-excel-import/catalogue-excel-import
backend/microservices/systems-service/systems-service
tools/catalogue-excel-import/import-data/.~lock.BeamCharacterization.xlsx#
tools/catalogue-excel-import/import-data/.~lock.TMP.xlsx#
backend/api-gateway-go/.env
backend/api-gateway-go/appsettings.yaml
frontend/ui-main-app/.env
backend/api-gateway-go/config.json
backend/api-gateway-go/services/security-service/db/userAndPassword.txt
