@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'eli-busy.css';
@import 'loader.css';
@import 'react-datepicker/dist/react-datepicker.css';
@import 'tippy.js/dist/tippy.css';
@import 'react-range-slider-input/dist/style.css';

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
  table {
    @apply border-separate border-spacing-0 relative z-0;
  }
  h2 {
    @apply mt-6 text-center text-3xl font-bold tracking-tight text-gray-900 dark:text-gray-200;
  }
}

@layer components {
  .form-field {
    @apply block w-full text-left appearance-none border px-3 py-2 placeholder-gray-400 bg-white dark:bg-gray-600 text-gray-900 dark:text-gray-200  focus:border-primary-500 focus:outline-none focus:ring-primary-500 sm:text-sm;
  }
  .form-field-combo {
    @apply block w-full text-left appearance-none border placeholder-gray-400 bg-white dark:bg-gray-600 text-gray-900 dark:text-gray-200  focus:border-primary-500 focus:outline-none focus:ring-primary-500 sm:text-sm;
  }
  .btn {
    @apply relative text-xs font-medium shadow-sm z-10 inline-flex items-center border border-gray-300 focus:outline-none focus:ring-0 focus:ring-primary-500 dark:hover:bg-gray-500;
  }
  .btn-primary {
    @apply hover:bg-primary-700 text-white bg-primary-500 dark:bg-primary-700;
  }
  .btn-secondary {
    @apply hover:bg-gray-100 text-gray-600 dark:text-gray-200 bg-white dark:bg-gray-700;
  }
  .btn-disabled {
    @apply cursor-not-allowed opacity-30 bg-gray-300 text-gray-700 dark:text-gray-200 hover:bg-gray-300 dark:bg-gray-700 dark:hover:bg-gray-700;
  }

  .link {
    @apply text-blue-700 dark:text-gray-300 dark:underline cursor-pointer hover:underline;
  }
}

/* For Firefox */
.scrollbar-style {
  scrollbar-color: #fb923c #f3f4f6; /* Thumb and Track colors */
}

.react-datepicker-popper {
  z-index: 9999 !important;
}

.select-reset {
  appearance: none; /* This removes the default styling of select on most browsers */
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  border: none; /* Remove borders */
  outline: none; /* Remove focus outline */
  padding: 0; /* Reset padding */
  margin: -1; /* Reset margin */
  background: inherit; /* Inherit background-color from parent */
  color: inherit; /* Inherit font-color from parent */
  font-family: inherit; /* Inherit font-family from parent */
  font-size: inherit; /* Inherit font-size from parent */
}

/* Add custom styles here */
.select-custom {
  /* Your custom styles */
  /* For example: */
}

.range-slider-primary .range-slider__range {
  background: rgb(249 115 22);
}

.range-slider-primary .range-slider__thumb {
  background: rgb(249 115 22);
}

th {
  padding: 0;
}
