@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'eli-busy.css';
@import 'loader.css';
@import 'react-datepicker/dist/react-datepicker.css';
@import 'tippy.js/dist/tippy.css';

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
  table {
    @apply border-separate border-spacing-0 relative z-0;
  }
  h2 {
    @apply mt-6 text-center text-3xl font-bold tracking-tight text-gray-900;
  }
}
